body{
   
}

.c1{
    position: fixed;
    background-color: #be8abf;
    padding: .5%;
    box-shadow: 0px 0px 15px 11px #bac7a7;
    z-index: 999;
}
.c2{
    font-family: 'IM Fell Great Primer SC', serif;
    font-size: 50px;
}
.c3{
    font-family: 'Concert One', cursive;
    font-size: 30px;
    
}

.c4{
    padding:10% 2% 0;
    text-align: center;
    
   
}

.c4_1{
    font-size: 80px;
    font-family: 'Fredoka One', cursive;
    padding: 20% 5% 10%;
}

.c4_2{
    padding: 7% 0 5%;

}

.carousel-indicators{
    position: absolute;
    top: 237px;
}

.c5{
    height: 500px;
    border-radius: 50%;
}























@media (max-width:1425px){

    .c4_1{
        font-size: 58px;
        font-family: 'Fredoka One', cursive;
        padding: 20% 5% 10%;
    }

    .c5{
            height: 415px;
            border-radius: 50%;
        }    
}



@media (max-width:1140px){
    .c2{
        font-family: 'IM Fell Great Primer SC', serif;
        font-size: 40px;
    }

}

@media (max-width:1070px){

    .c4_1{
        font-size: 58px;
        font-family: 'Fredoka One', cursive;
        padding: 20% 5% 10%;
    }

    .c5{
            height: 415px;
            border-radius: 50%;
        }    
}


@media (max-width:600px){
    .c2{
        font-family: 'IM Fell Great Primer SC', serif;
        font-size: 30px;
    }

}



@media (max-width:460px){
    .c2{
        font-family: 'IM Fell Great Primer SC', serif;
        font-size: 22px;
    }

}

@media (max-width:360px){
    .c2{
        font-family: 'IM Fell Great Primer SC', serif;
        font-size: 20px;
    }

}

@media (max-width:340px){
    .c2{
        font-family: 'IM Fell Great Primer SC', serif;
        font-size: 15px;
    }

}

@media (max-width:280px){
    .c2{
        font-family: 'IM Fell Great Primer SC', serif;
        font-size: 13px;
    }

}


























































